window {
    background-color: transparent;
    font-family: "JetBrainsMono Nerd Font";
}

#outer-box {
    background-color: #2e3440;
    border-radius: 5px;
    border: 2px solid #4c566a;
    padding: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: #eceff4;
    background-color: #3b4252;
    padding: 5px;
}

#entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

#img {
    order: 1;
    margin-right: 15px;
    min-width: 32px; 
    max-width: 32px;
}

#text {
    order: 2;
    color: #eceff4;
    flex-grow: 1;
}

#expander {
    order: 3;
    margin-left: auto;
    padding-right: 10px;
}





/* #text { */
/*     order: 2; */
/*     color: #eceff4;  */
/*     /*margin: 5px;*/ */
/*     flex-grow: 1; */
/* } */
/**/
/* #entry:selected { */
/*     background-color: #4c566a; */
/* } */
/**/
/* #text:selected { */
/*     color: #88c0d0; */
/* } */
/**/
/* #entry { */
/*     flex-direction: row-reverse; */
/*     display: flex; */
/*     align-items: center; */
/* } */
/**/
/* #img { */
/*     order: 1; */
/*     margin-right: 10px; */
/* } */
/**/
/* #expander { */
/*     order: 3; */
/*     margin-left: auto; */
/* } */
